<div class="container pt-5">
    <div class="row">
        <div class="col-6">
            <button title="back" class="btn btn-primary bi bi-arrow-return-left"
                (click)="getBack()"></button>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-primary" [disabled]="!visible"
                (click)="passExam()">PassExam</button>
        </div>
    </div>

    <div class="row course-details pt-5">
        <div class="col-4">
            <!-- Attribute 1: Image URL -->
            <img src="{{course.image}}" class="img-fluid" alt="Course Image">
        </div>
        <div class="col-4" style="    display: flex;align-items: center;">
            <!-- Attribute 2: Course Name -->
            <h4>{{course.name}}</h4>
        </div>
        <div class="col-4" style="    display: flex;align-items: center;">
            <!-- Attribute 3: Professor Name -->
            <h5>By Prof : {{course.professor.fullName}}</h5>
        </div>
    </div>

</div>
<div class="container" style="background-color: rgb(161, 161, 161);">
    <div id="carouselExampleControls" class="carousel slide"
        data-ride="carousel">
        <div class="carousel-inner"
            style="height: 200px; ">
            <!-- Use *ngFor to loop through all chapters and create carousel items -->
            <div class="carousel-item p-3"
                *ngFor="let chapter of course.chapters; let index = index"
                [class.active]="index === 0">
                <h5 style="text-align: center; padding-top: 15px;">{{index+"- "+chapter.label}}</h5>
                <p>{{chapter.contenu}}</p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls"
            role="button" data-slide="prev" style="color: black;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only" style="color: black;">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls"
            role="button" data-slide="next" style="color: black;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

</div>
