<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <button title="back" class="btn btn-primary bi bi-arrow-return-left" (click)="getBack()"></button>
        </div>
    </div>

    <div class="row course-details pt-5">
        <div class="col-4">
            <!-- Attribute 1: Image URL -->
            <img src="{{course.image}}" class="img-fluid" alt="Course Image">
        </div>
        <div class="col-4" style="    display: flex;align-items: center;">
            <!-- Attribute 2: Course Name -->
            <h4>{{course.name}}</h4>
        </div>
        <div class="col-4" style="    display: flex;align-items: center;">
            <!-- Attribute 3: Professor Name -->
            <h5>By Prof : {{course.professor.fullName}}</h5>
        </div>
    </div>

    <div class="row course-details pt-2">
        <div class="col-12">
            <!-- Attribute 4: Course Description -->
            <div *ngFor="let chapter of course.chapters">
                <h5 style="text-align: center;">{{chapter.label}}</h5>
                <p>{{chapter.contenu}}</p>

            </div>

        </div>
    </div>
</div>