.elements{
    height: 100vh;
    display: flex;
    gap: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.login-container{
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 6px;
    background-color: rgb(237, 237, 237);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
   
    width: 40%;
    margin: auto;
    
    
}


h1{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: center;
}
#login-form{
    display: grid;
    gap: 10px;
   
    
}
.form-group{
    display: grid;
    gap: 10px;
}
.button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.link{
    display: flex;
    justify-content: flex-end;
    margin-top: -8px;
}


.register{
    margin-bottom: 1rem;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


label{
    font-size: 1rem;
}
.error{
    font-size: smaller;
    color: red;
    margin-top: -15px;
    width: 200px;
    word-wrap: break-word;
    text-align: center;
    height: 30px;
}



@media (max-width : 500px){
  
.login-container{
    width: 20rem;
    margin-top: 8rem;
}
}

@media (max-width : 350px){
    #login-form{
        width: 100%;
    }
.login-container{
    width: 18rem;
    margin-top: 8rem;
}
}
