<h1 class="text-center">ALL COURSES</h1>
<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="col-md-4 mt-2" *ngFor="let course of courseList">
                <div class="card h-100 stle" (click)="check(course.id)">
                    <img class="card-img-top height" [src]="course.image"
                        alt="course image cap">
                    <div class="card-body">
                        <h6 class="card-title nowrap">{{course.name}}</h6>
                        <p class="card-text h-10">By : {{
                            course.professor.fullName
                            }}</p>
                        <div> <button class="btn btn-primary"
                                (click)="addIt(course.id)">Suivre {{course.id}}
                            </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
